@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');



:root {
        background-color: #fff;
        width: 100%;
       
}

*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 62.5%;
        font-family: 'Quicksand', sans-serif; 
        width: 100%;
        /*font: Quicksand; */
        
}

h1{ 
    font-size: 5.4rem;
    color:  rgb(26, 20, 20);
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
   
    width: 100%;

    /*margin-bottom: 5rem;
    background-color: #76C2EC;
    width: 100vw;
    text-align: center;
    padding-top: 2rem;
    top:0;
    
    margin: auto;
    Padding: 10rem;*/


}

h3{ 
        font-size: 5.4rem;
        color:  rgb(26, 20, 20);
        padding-bottom: 5rem;
        padding-top: 5rem;
        text-align: center;
        width: 100%;
        
    
        /*margin-bottom: 5rem;
        background-color: #76C2EC;
        width: 100vw;
        text-align: center;
        padding-top: 2rem;
        top:0;
        
        margin: auto;
        Padding: 0rem;*/
    
    
    }

h2{
    width: 90%;
    font-size: 2rem;
    color:  rgb(44, 43, 43);
    margin-bottom: 4rem;
    width: 50rem;    
}

.container{
    width: 100%;
    height 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
        width: 100%;
        display: flex;
        flex-direction: column;
}

.flex-center{
     width: 100%;
     justify-content: center;
     align-items: center;
}

.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}

.hidden{
        display: none;
}

.btn{
        font-size: 2.4rem;
        padding: 2rem 0;
        width: 70%;
        text-align: center;
        margin-bottom: 1rem;
        text-decoration: none;
        color:  #fff;
       /* background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0,102,255)100%); */
        background: transparent linear-gradient(53deg, #76C2EC 0%, #048BFC 100%) 0% 0% ;
         border-radius: 10px;
}

.btn:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6 );
        transition: transform 150ms;
        transform:scale(1.03);
}

.btn[disabled]:hover{
        cursor: not-allowed;
        box-shadow: none;
        transform: none;

}

#moreinfo-btn{
        background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0,102,255)100%);
}


#moreinfo-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 244, 0, 0.5 );
}

.image-txt-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 2rem;
        width: 10%;
        height: auto;
        height: auto;
      }